---
import '../styles/main.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderMega from '../components/header/header-mega/Header.astro';
import SimpleCentered from '../components/hero/simple-centered/SimpleCentered.astro';
import FooterGrid from '../components/footer/footer-grid/Footer.astro';
---

<BaseLayout 
  title="Starter UI – Clean Astro Boilerplate" 
  description="A minimal Astro boilerplate with ready-to-use sections like Hero, FAQ, and Testimonials. Build fast, clean websites with ease."
>
  <HeaderMega />
  
  <main class="main">
    <SimpleCentered />
  </main>
  
  <FooterGrid />
</BaseLayout>