---
import '../styles/main.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderMega from '../components/header/header-mega/Header.astro';
import SimpleCentered from '../components/hero/simple-centered/SimpleCentered.astro';
import Footer from '../components/footer/footer-grid/Footer.astro';
import FooterCTA from '../components/footer/footer-cta/Footer.astro';
---

<BaseLayout 
  title="Astro Boilerplate | Bcn Web Studio" 
  description="Boilerplate profesional de Astro con CSS puro, diseño responsive y componentes modernos. Perfecto para crear sitios web rápidos y eficientes."
>
  <HeaderMega />
  
  <main class="main">
    <SimpleCentered />
  </main>
  
  <FooterCTA />
  <Footer />
</BaseLayout>