---
import '../styles/main.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderMega from '../components/header/header-mega/Header.astro';
import FooterGrid from '../components/footer/footer-grid/Footer.astro';
---

<BaseLayout 
  title="Home | Starter UI" 
  description="A minimal Astro boilerplate with ready-to-use sections like Hero, FAQ, and Testimonials. Build fast, clean websites with ease."
>
  <HeaderMega />
  
  <main class="main">
    <!-- Main content will go here -->
  </main>
  
  <FooterGrid />
</BaseLayout>