---
import '../styles/main.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderMega from '../components/header/header-mega/Header.astro';
import TestimonialsMasonry from '../components/testimonials/masonry/Testimonials.astro';
import TestimonialCarousel from '../components/testimonials/carousel/TestimonialCarousel.astro';
import TestimonialsSimple from '../components/testimonials/simple/TestimonialsSimple.astro';
import TestimonialSingle from '../components/testimonials/single/TestimonialSingle.astro';
import TestimonialsGrid from '../components/testimonials/grid/TestimonialsGrid.astro';
import FooterGrid from '../components/footer/footer-grid/Footer.astro';
---

<BaseLayout 
  title="Starter UI – Clean Astro Boilerplate" 
  description="A minimal Astro boilerplate with ready-to-use sections like Hero, FAQ, and Testimonials. Build fast, clean websites with ease."
>
  <HeaderMega />
  
  <main class="main">
    <TestimonialsMasonry />
    <TestimonialCarousel />
    <TestimonialsSimple />
    <TestimonialSingle />
    <TestimonialsGrid />
  </main>
  
  <FooterGrid />
</BaseLayout>